<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href=""/>
	<title>log</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="overflow: hidden">
	
	<div id="log-section">
		<div class="wrapper">
			<form action="" class="log__form">
				<p class="log__form-t">Форма авторизации</p>
				<input class="inpt__stroke" type="email" name="email" placeholder="Ваша почта" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete="on" tabindex="5" required>
				<input class="inpt__stroke" id="password1" type="password" name="password" placeholder="Ваш пароль" minlength="6" maxlength="24" tabindex="6" title="Ваш пароль должен быть не меньше 6 и не больше 24 символов" required>
				<button class="btn-1" type="submit"><span>Авторизироваться</span></button>
			</form>
		</div>
	</div>

</body>
</html>